@{
    ViewData["Title"] = "Marbles Home Page";
}

<div>
    <h1>Marbles Controller - Index</h1>
    The Marbles controller of the Marbles plugin.
    <iframe src="http://rxmarbles.com/" width="1024" height="768"></iframe>
</div>