@{
    ViewData["Title"] = "Lego Home Page";
}

<div>
    <h1>Lego Controller - Index</h1>
    The Lego controller of the Lego plugin.
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/LEGO_logo.svg" alt="Lego logo"/>
</div>