@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Axxes n.v.<br/>
    Entrepotkaai 10A<br/>
    B-2000 Antwerpen<br/>
    <abbr title="Website">W:</abbr>
    <a href="https://www.axxes.com" target="_blank">www.axxes.com</a>
</address>

<address>
    <strong>More info:</strong> <a href="mailto:hannes.lowette@axxes.com">hannes.lowette@axxes.com</a>
</address>
