@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
 
<p>We are in the EU, so we have to adhere to the GDPR. Your data is safe with us. Besides, you are probably running this on your own computer. So we don't even HAVE your data. How safe is that?</p>
